# Object files
*.o
*.obj

# Executables
*.exe # the hell why would a windows exe be here
*.out

# Dependency files
*.d

# Editor/IDE junk
*.log
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Backup files
*.bak
